<div class="about-main">
<div class="outer-box">
  <div class="hero">
    <h1>Creative Digital Project</h1>
    <span class="hero_span">
      Uneasy barton seeing remark happen his has.<br>
      Am possible offering at contempt mr distance stronger an. <br>
      Attachment excellence announcing or reasonable am on if indulgence.
    </span>
  </div>
</div>
<section class="content">
  <article fxLayout="row"
           fxLayout.xs="column"
           fxLayout.sm="column"
           fxLayoutAlign="space-between center"
           class="content_wrapper">
    <div
      [ngStyle.sm]="{width: '100%'}"
      [ngStyle.xs]="{width: '100%'}"
      class="content_wrapper__img hvr-grow-shadow">
      <img
        [ngStyle.sm]="{maxwidth: '100%'}"
        src="../../assets/angular-ts-code.png" alt="">
    </div>
    <div
      [ngStyle.sm]="{width: '100%'}"
      [ngStyle.xs]="{width: '100%'}"
      class="content_wrapper__text">
      <span class="content_wrapper__text__element">
        Performed in <span>You</span> so frankness by attention pretended.
        Newspaper or in tolerably education enjoyment. Extremity excellent certainty discourse sincerity no he so resembled.
        Joy house worse arise total boy but. <span>Are</span> up chicken do at feeling is. Like seen drew no make fond at on rent.
      </span>
      <br>
      <span class="content_wrapper__text__element">
       <br/> She who <span>Soo</span> end how fertile enabled. Brother she add yet see minuter natural smiling article painted.
        Themselves at dispatched interested <span>Awesome!</span> am be prosperous reasonably it.
      </span>
      <a href="#" class="content_wrapper_btn hvr-grow"
         [ngStyle.sm]="{width: '100%'}"
         [ngStyle.xs]="{width: '100%'}">Subscribe
      </a>
    </div>
  </article>
</section>
<section class="service">
  <div class="service_wrapper"
       fxLayout.xs="column"
       fxLayout.sm="column">
    <div class="service_wrapper__left"
         [ngStyle.sm]="{width: '100%'}"
         [ngStyle.xs]="{width: '100%'}">
      <div class="service_wrapper___element hvr-float-shadow"
         [ngStyle.sm]="{width: '100%'}"
         [ngStyle.xs]="{width: '100%'}"
         [ngStyle.md]="{width: '100%'}">
        <i class="material-icons md-48" style="font-size: 50px;">extension</i>
        <h4>Graphic Design</h4>
        <span>Paid was hill sir high. For him precaution any advantages dissimilar comparison few terminated projecting. Prevailed discovery immediate objection of ye at.</span>
      </div>
      <div class="service_wrapper___element hvr-float-shadow"
           [ngStyle.sm]="{width: '100%'}"
           [ngStyle.xs]="{width: '100%'}"
           [ngStyle.md]="{width: '100%'}">
        <i class="material-icons md-48" style="font-size: 50px;">important_devices</i>
        <h4>Web Development</h4>
        <span>Paid was hill sir high. For him precaution any advantages dissimilar comparison few terminated projecting. Prevailed discovery immediate objection of ye at.</span>
      </div>
      <div class="service_wrapper___element hvr-float-shadow"
           [ngStyle.sm]="{width: '100%'}"
           [ngStyle.xs]="{width: '100%'}"
           [ngStyle.md]="{width: '100%'}">
        <i class="material-icons md-48" style="font-size: 50px;">language</i>
        <h4>SEO & Marketing</h4>
        <span>Paid was hill sir high. For him precaution any advantages dissimilar comparison few terminated projecting. Prevailed discovery immediate objection of ye at.</span>
      </div>
      <div class="service_wrapper___element hvr-float-shadow"
           [ngStyle.sm]="{width: '100%'}"
           [ngStyle.xs]="{width: '100%'}"
           [ngStyle.md]="{width: '100%'}">
        <i class="material-icons md-48" style="font-size: 50px;">android</i>
        <h4>Mobile Development</h4>
        <span>Paid was hill sir high. For him precaution any advantages dissimilar comparison few terminated projecting. Prevailed discovery immediate objection of ye at.</span>
      </div>
    </div>
    <div class="service_wrapper__right hvr-bounce-to-right"
         [ngStyle.sm]="{width: '100%'}"
         [ngStyle.xs]="{width: '100%'}"
         [ngStyle.md]="{width: '100%'}">
        <div fxLayoutAlign="center center" fxLayout="column">
            <i class="material-icons" style="font-size: 50px;">accessibility</i>
            <h3>Our Services</h3>
        </div>
        <span style="text-align: center;">
          Affronting everything discretion men now own did. Still round match we to.
          Frankness pronounce daughters remainder extensive has but. Happiness cordially
          one determine concluded fat. Plenty season beyond by hardly giving of.
        </span>
    </div>
  </div>
</section>
<app-team></app-team>

